<ion-header>
  <ion-toolbar>
    <ion-title>Panel de Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scroll-y="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Tus próximas citas</ion-label>
    </ion-list-header>

    <!-- Verificar si hay citas disponibles -->
    <ng-container *ngIf="citasProximas.length > 0; else noCitas">
      <!-- Iterar sobre las citas disponibles -->
      <ion-item *ngFor="let cita of citasProximas">
        <ion-thumbnail slot="start" *ngIf="cita.imagenUrl">
          <img [src]="cita.imagenUrl" alt="Imagen de la cita" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ cita.fechaHora | date:'dd MMM yyyy, h:mm a' }}</h2>
        </ion-label>
      </ion-item>
    </ng-container>

    <!-- Plantilla alternativa cuando no hay citas -->
    <ng-template #noCitas>
      <ion-item>
        <ion-label>No hay citas próximas</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>

  <!-- Contenedor para los botones de navegación -->
  <ion-row class="ion-margin-top" justify-content-center>
    <!-- Primer botón (Calendario) -->
    <ion-col size="auto">
      <ion-button class="square-button" [routerLink]="['/calendario-citas']">
        <ion-icon slot="start" name="calendar" class="large-icon"></ion-icon>
        <ion-label>Ir al Calendario</ion-label>
      </ion-button>
    </ion-col>

    <!-- Segundo botón (Perfil) -->
    <ion-col size="auto">
      <ion-button class="square-button" [routerLink]="['/perfil-paciente']">
        <ion-icon slot="start" name="person" class="large-icon"></ion-icon>
        <ion-label>Ir al Perfil</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Tercer botón (Consultas Pasadas) debajo de los primeros dos -->
  <ion-row class="ion-margin-top" justify-content-center>
    <ion-col size="auto">
      <ion-button class="square-button" [routerLink]="['/consultas-pasadas']">
        <ion-icon slot="start" name="time" class="large-icon"></ion-icon>
        <ion-label>Consultas Pasadas</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
