<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="confirmarCancelar()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Calendario de Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- Formulario para agendar un servicio -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agendar Servicio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Cliente</ion-label>
        <ion-input [(ngModel)]="servicio.cliente" placeholder="Nombre del cliente"></ion-input>
      </ion-item>

      <!-- Autolavado seleccionado -->
      <ion-item>
        <ion-label position="stacked">Autolavado</ion-label>
        <ion-input [(ngModel)]="servicio.autolavado" readonly></ion-input>
      </ion-item>

      <!-- Servicio seleccionado -->
      <ion-item>
        <ion-label position="stacked">Servicio</ion-label>
        <ion-input [(ngModel)]="servicio.tipoServicio" readonly></ion-input>
      </ion-item>

      <!-- Precio del servicio -->
      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input [(ngModel)]="servicio.precio" readonly></ion-input>
      </ion-item>

      <!-- Duración del servicio -->
      <ion-item>
        <ion-label position="stacked">Duración</ion-label>
        <ion-input [(ngModel)]="servicio.duracion" readonly></ion-input>
      </ion-item>

      <!-- Selección de fecha y hora -->
      <ion-item>
        <ion-label position="stacked">Fecha y Hora</ion-label>
        <ion-datetime [min]="minFecha" display-format="YYYY-MM-DD HH:mm" [(ngModel)]="servicio.fechaHora"
          placeholder="Seleccionar fecha y hora">
        </ion-datetime>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="AgendarCita()">
        Solicitar Cita
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>