.contenedor-vacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fec934;
    padding: 40px 20px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .icono-vacio {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fec934;
  }
  