<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/panel-control']">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Autolavados Cercanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor para el mapa -->
  <div id="map" style="height: 400px; margin-top: 10px;"></div>
  <ion-list *ngIf="autolavados.length > 0">
    <ion-list-header>
      <ion-label>Autolavados encontrados</ion-label>
    </ion-list-header>
  
    <ion-item *ngFor="let lugar of autolavados" (click)="seleccionarAutolavado(lugar)">
      <ion-label>
        <h2>{{ lugar.name }}</h2>
        <p>{{ lugar.formatted_address }}</p>
      </ion-label>
      <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  
</ion-content>
