<!-- <ion-header>
</ion-header>-->

<ion-content class="ion-padding">
  
  <!-- Splash Screen -->
  <!-- <app-loading *ngIf="showLoading"></app-loading> -->
    <!--  -->
  <ion-toolbar >
    <ion-title class="ion-text-center">Bienvenido</ion-title>
  </ion-toolbar>
  <div class="container">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">

        <!-- Username -->
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <br>
          <ion-input [(ngModel)]="username" (ionInput)="validateInputs()" type="text" required></ion-input>
        </ion-item>
          <br>
        <!-- Password -->
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <br>
          <ion-input [(ngModel)]="password" (ionInput)="validateInputs()" type="password" required></ion-input>
        </ion-item>

        <!-- Botón Iniciar Sesión -->
        <ion-button expand="full" [disabled]="!isValid" (click)="iniciarSesion()">
          Ingresar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
        <!-- Link para Iniciar Sesión -->
        <p class="text-center mt-3">
          ¿Aún no tienes cuenta?
          <button color="dark" (click)="goRegister()" class="btn btn-dark rounded-pill fw-bold">
            Registrate aquí
          </button>
        </p>
      </div>
 
</ion-content>