<ion-content class="ion-padding">
  <div class="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">

          <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()" novalidate class="login-form">

            <!-- Email/Username -->
            <ion-item class="input-field">
              <ion-label position="floating">Usuario o Correo</ion-label>
              <ion-input formControlName="login" type="text" required></ion-input>
            </ion-item>
            <small *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched"
              class="text-danger">
              <ion-icon name="alert-circle-outline"></ion-icon> Ingrese su usuario o correo.
            </small>


            <!-- Password -->
            <ion-item class="input-field">
              <ion-label position="floating">Password</ion-label>
              <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" required></ion-input>
              <ion-icon name="eye" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>
            <small *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
              class="text-danger">
              <ion-icon name="alert-circle-outline"></ion-icon> La contraseña debe tener al menos 6 caracteres, un
              número y un carácter especial.
            </small>

            <!-- Botón Iniciar Sesión -->
            <div class="d-grid button-container">
              <ion-button expand="full" [disabled]="loginForm.invalid" type="submit">
                <ion-icon name="log-in-outline"></ion-icon> Ingresar
              </ion-button>
            </div>
          </form>

          <!-- Link para Registro -->
          <div class="ion-text-center ion-margin-top">
            ¿Aún no tienes cuenta?
            <ion-button fill="clear" color="primary" (click)="goRegister()"> Regístrate
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>