ion-content {
  --background: #000000; // Fondo negro
  color: #ffffff;

  .container {
    padding: 20px;
  }

  .ion-text-center{
    color: #ffffff;
  }

  .login-form {
    margin-top: 20px;

    .input-field {
      --background: #1e1e1e;
      --color: #ffffff;
      --placeholder-color: #cccccc;
      border-radius: 10px;
      margin-bottom: 12px;
    }

    ion-label {
      color: #ffffff;
    }

    ion-input {
      color: #ffffff;
    }

    small.text-danger {
      color: #fec934;
      display: block;
      margin-top: 4px;
      font-size: 13px;
    }
  }

  .button-container {
    margin-top: 24px;

    ion-button {
      --background: #fec934;
      --color: #000000;
      font-weight: bold;
      border-radius: 10px;
    }

    ion-button[disabled] {
      opacity: 0.6;
    }
  }

  ion-toolbar {
    background-color: transparent;
    box-shadow: none;

    ion-title {
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .ion-text-center ion-button {
    --color: #fec934;
    font-weight: 500;
  }
}
