<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para regresar al Panel de Control -->
      <ion-button [routerLink]="['/panel-control']">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Servicios Pasados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Servicios realizados</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let servicio of serviciosPasados">
      <ion-avatar slot="start" *ngIf="servicio.imagenUrl">
        <img [src]="servicio.imagenUrl" alt="Imagen del servicio" />
      </ion-avatar>
      <ion-label>
        <h2>{{ servicio.cliente }} - {{ servicio.vehiculo }}</h2>
        <p>{{ servicio.tipoServicio }} | {{ servicio.fechaHora | date: 'dd MMM yyyy, h:mm a' }}</p>
        <p *ngIf="!servicio.imagenUrl">No se proporcionó una imagen para este servicio.</p>
      </ion-label>
      <ion-button (click)="agregarImagen(servicio.id)" color="primary" size="small">
        <ion-icon slot="start" name="camera"></ion-icon>Agregar Imagen
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
